#Ambiente
.env
.env.*

#Backend (Laravel)
backend/vendor/
backend/node_modules/
backend/public/build/
backend/storage/logs/*
backend/storage/framework/*
backend/bootstrap/cache/*
backend/.env

#Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/build/
frontend/dist/
frontend/.env

#Logs
*.log

#Sistema / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

#Outros
*.zip
*.sql
*.tar.gz