#Ambiente
.env
.env.*

#Admin
admin/deploy/
admin/node_modules/
admin/.next/
admin/build/
admin/dist/
admin/.env
admin/.env.*
admin/out/
admin/.turbo/
admin/coverage/
admin/*.log

#Backend (Laravel)
backend/vendor/
backend/node_modules/
backend/public/build/
backend/storage/logs/*
backend/storage/framework/*
backend/bootstrap/cache/*
backend/.env

#Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/build/
frontend/dist/
frontend/.env
frontend/.dart_tool/
frontend/.pub-cache/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/e2e/node_modules/
frontend/coverage/
frontend/*.log
frontend/*.tmp

#Logs
*.log
*.err
*.out

# PHPUnit / cache
backend/.phpunit.result.cache

#Sistema / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

#Outros
*.zip
*.sql
*.tar.gz
