# Default Language
NEXT_PUBLIC_DEFAULT_LANGUAGE=en
NEXT_PUBLIC_ENABLE_MULTI_LANG=true
NEXT_PUBLIC_AVAILABLE_LANGUAGES=en,ar
REACT_APP_SHOW_DEV_TOOLS=false

#live
NEXT_PUBLIC_ADMIN_FRONT_URL="your_admin_url_here"
NEXT_PUBLIC_REST_API_ENDPOINT="your_api_endpoint_here"
NEXT_PUBLIC_WEBSITE_URL="your_website_url_here"

APPLICATION_MODE=production

# stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=stripe_publishable_key_here
STRIPE_SECRET_KEY=stripe_secret_key_here

#Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=firebase_appi_key_here
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=firebase_auth_domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=firebase_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=firebase_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=firebase_message_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=firebase_app_id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=firebase_measurement_id
NEXT_PUBLIC_FIREBASE_VAPID_KEY=firebase_vap_id_key

#cloudflare key
TURNSTILE_SITE_KEY=cloudflare_site_key_here
TURNSTILE_SECRET_KEY=cloudflare_secret_key_here

# Pusher Key(Client-side)
PUSHER_APP_ID=pusher_id
PUSHER_KEY=pusher_key
PUSHER_SECRET=secret
PUSHER_CLUSTER=ap2
NEXT_PUBLIC_PUSHER_KEY=pusher_public_key_here   
NEXT_PUBLIC_PUSHER_CLUSTER=ap2

#Paytm
PAYTM_MID=YOUR_MID_HERE
PAYTM_MKEY=YOUR_MERCHANT_KEY

#Razorpay
RAZORPAY_KEY_ID=your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_key_id_here