{
  "project_info": {
    "project_number": "987654321111",
    "project_id": "sample-project-id-123",
    "storage_bucket": "sample-project-id-123.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:987654321111:android:sampleappid987654",
        "android_client_info": {
          "package_name": "com.bizmic.quick_ecommerce_customer"
        }
      },
      "oauth_client": [
        {
          "client_id": "987654321111-sampleclientid123456789.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "SAMPLE_ANDROID_API_KEY_ABCDEF123456"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
